* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.inst-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.inst-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.inst-phone img {
    height: 43rem;
}

.inst-continue {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    min-height: 40rem;
    /*flex-direction como column faz com que as sections sejam organizadas por coluna
    deixando-as uma abaixo da outra*/
}

.group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 6px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.group:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.inst-logo {
    height: 5rem;
    margin-bottom: 20px;
}

.inputbox {
    height: 2.5rem;
    width: 20rem;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 6px;
    font-size: 0.9rem;
    color: rgb(111, 110, 110);
    border-radius: 3px;
}

.login-btn {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    width: 20rem;
    margin-top: 6px;
    text-align: center;
}

.ou-text {
    margin-top: 20px;
    color: rgb(128, 126, 126);
    font-size: 13px;
}

.entrar-fcb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    margin-top: 13px;
}

.fcb-logo {
    height: 1.3rem;
    margin-right: 10px;
}

.login-fcb {
    color: rgb(17, 4, 162);
}

.esqueceu-senha {
    color: #000000;
    font-size: 13px;
}

.cadastrar {
    color: #0095f6;
    margin-left: 5px;
}

.obter-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download-app {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.btn-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.btn-download:nth-child(1) {
    background-image: url('./applestore_btn.png');
}

.btn-download:nth-child(2) {
    background-image: url('./googleplay_btn.png');
}


